/lib/libsnowboy-detect.a
snowboy-detect-swig.cc
snowboydetect.py
.DS_Store

*.pyc
*.o
*.so
*.swp
*.swo

/examples/C++/pa_stable_v19_20140130.tgz
/examples/C++/portaudio
/examples/C++/demo
/examples/Java/Demo.class

/swig/Android/OpenBLAS-0.2.18.tar.gz
/swig/Android/android-ndk-r11c-darwin-x86_64.zip
/swig/Android/android-ndk-r11c-linux-x86_64.zip
/swig/Android/OpenBLAS-Android/
/swig/Android/android-ndk-r11c/
/swig/Android/ndk_install/
/swig/Android/java/
/swig/Android/jniLibs/
/swig/Java/java/
/swig/Java/jniLibs/

/build
/node_modules
/lib/node/binding
/lib/node/index.js
