/lib/libsnowboy-detect.a
snowboy-detect-swig.cc
snowboydetect.py
.DS_Store

*.pyc
*.o
*.so

/examples/C++/pa_stable_v19_20140130.tgz
/examples/C++/portaudio
/examples/C++/demo

/swig/Android/OpenBLAS-0.2.18.tar.gz
/swig/Android/OpenBLAS-Android/
/swig/Android/java/
/swig/Android/jniLibs/

/build
/node_modules
/lib/node/binding
