/lib/libsnowboy-detect.a
snowboy-detect-swig.cc
snowboydetect.py
Snowboy.pm
.DS_Store

*.dylib
*.pyc
*.o
*.so
*.swp
*.swo

/examples/C/pa_stable_v19_20140130.tgz
/examples/C/pa_stable_v190600_20161030.tgz
/examples/C/portaudio
/examples/C/demo
/examples/C++/pa_stable_v19_20140130.tgz
/examples/C++/pa_stable_v190600_20161030.tgz
/examples/C++/portaudio
/examples/C++/demo
/examples/Java/Demo.class
/examples/Perl/data/
/examples/iOS/Obj-C/Pods/Pods.xcodeproj/xcuserdata/
/examples/iOS/Obj-C/SnowboyTest.xcodeproj/project.xcworkspace/xcuserdata/
/examples/iOS/Obj-C/SnowboyTest.xcodeproj/xcuserdata/
/examples/iOS/Obj-C/SnowboyTest.xcworkspace/xcuserdata/
/examples/iOS/Swift3/SnowboyTest.xcodeproj/project.xcworkspace/xcuserdata/
/examples/iOS/Swift3/SnowboyTest.xcodeproj/xcuserdata/

/swig/Android/OpenBLAS-0.2.18.tar.gz
/swig/Android/android-ndk-r11c-darwin-x86_64.zip
/swig/Android/android-ndk-r14b-darwin-x86_64.zip
/swig/Android/android-ndk-r11c-linux-x86_64.zip
/swig/Android/OpenBLAS-Android/
/swig/Android/OpenBLAS-Android-ARM32/
/swig/Android/android-ndk-r11c/
/swig/Android/android-ndk-r14b/
/swig/Android/ndk_install/
/swig/Android/ndk_install_32bit/
/swig/Android/java/
/swig/Android/jniLibs/
/swig/Java/java/
/swig/Java/jniLibs/

/build
/node_modules
/lib/node/binding
/lib/node/index.js

/dist
**/snowboy.egg-info
/.idea
