/lib/libsnowboy-detect.a
snowboy-detect-swig.cc
snowboydetect.py
.DS_Store

*.pyc
*.o
*.so

/examples/C++/*
/examples/Python/*

/swig/Android/*
/swig/Python/*

/build
/node_modules

/lib/node/*.ts
/lib/node/*.d.ts

.npmignore
.travis.yml
