<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnowboyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EAD06BE21E55992900C23345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD06BFB1E55992A00C23345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAD06C061E55992A00C23345</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
